$light: #E5E5E5;
$base-color: #FFF;
$blue-color: #3369F3;
$font: 'Inter';
$main-text-color: #1E1E1E;
$hiden-text-color: #999;


.modal {
  &-chat {
    position: relative;
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 6px;
    background: #FFF;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    border-radius: 12px;
  }

  &-input {
    width: 100%;
    padding: 7px;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    border-bottom: 1px solid $blue-color;
  }
}
